body{
    background-color:#F9AFAF;
}
.head{
    color: darkblue;
}
#bglime{
    background-color: white;
}
#para{
    color: green;
}
#I{
    color: #000;
    font-size: large;
}

#Y2k{
    color: red;
}
p{
    color: white;
}
a{
    background-color:yellow ;
}
span{
    background-color: violet;
}

article{
    color: blue;
}

aside{
    color: red;
}
